/* src/fonts.css */
@font-face {
    font-family: 'sf6Font'; 
    src: url('./fonts/SF6.otf') format('opentype'); 
    font-weight: normal; 
    font-style: normal;
  }

@font-face {
    font-family: 'ggstFont';
    src: url('./fonts/ImpactStrive.otf') format('opentype'); 
    font-weight: normal; 
    font-style: normal;
}

@font-face {
    font-family: 'blackHan';
    src: url('./fonts/BlackHanSans-Regular.ttf') format('opentype');
    font-weight: normal; 
    font-style: normal;
}