.container {
  display: flex;
  height: 100%;
  width: 100%;
  gap: 1.481vh;
  overflow: hidden;
}

.column {
  padding: 1.481vh;
  background-color: #2e2e2e;
  color: white;
  border-radius: 0.741vh;
}

.left {
  flex: 1;
  border-right: 0.37vh solid #555;
  border-left: 0.37vh solid #555;
  height: 78vh;
  overflow-y: auto;
  overflow-x: hidden;
  direction: rtl;
  scrollbar-width: thin;
  scrollbar-color: #888 transparent;
}

.left > *{
  direction: ltr;
}

/* Right column - 75% width */
.right {
  flex: 3;
  display: flex;
  border-right: 0.37vh solid #555;
  border-left: 0.37vh solid #555;
  position: relative;
  scrollbar-width: thin;
  scrollbar-color: #888 transparent;
  height: 78vh;
}

.game-mainpage{
  height: 12vh;
  text-align: center;
}

.game-mainpage p{
  font-size: 2rem;
}

.video-content{
  flex: 1;
  padding-right: 2vw;
  padding-top: 0vh;
}

.character-video{
  border-Right: "0.741vh solid #555";
  border-Left: "0.741vh solid #555";
  border-Top: "0.741vh solid #555";
  border-Bottom: "0.741vh solid #555";
  border-Radius: "1.481vh";
  margin-Left: "1vw";
}

.characters-information{
  display: flex;
  flex-direction: column;
  flex: 1;
  padding-left: 2vw;
  padding-right: 2vw;
  text-align: left;
  height: 100%;
  position: relative;
  overflow: auto;
}

.characters-information > div {
  flex-shrink: 0;
  flex-grow: 1; 
}

.characters-information button{
  margin-top: auto;
  margin-bottom: auto;
  align-self: flex-end;
}

.characters-list ul{
  list-style-type: none;
  padding: 0;
  margin-top: -1.481vh;
}

.characters-list li{
  margin: 0;
  transition: all 0.3s ease;
}

.characters-list li:hover{
  background-color: #444;
  font-weight: bold;
  border-radius: 1.481vh;
  cursor: pointer;
}

.characters-list li.active{
  background-color: #555;
  color: var(--active-color, rgb(121, 238, 121));
  font-weight: bold;
  border-radius: 1.481vh;
}

.nameTagContainer {
  display: flex;
  align-items: center;
  justify-content: center; 
  min-width: 11.852vh;
  max-width: 14.815vh;
  height: 11.852vh; 
  border-radius: 1.481vh;
  text-align: center;
}

.nameTag{
  font-weight: 600;
  border-radius: 1.481vh;
  padding: 0.741vh 1.481vh;
  display: flex;
  white-space: nowrap;
}

.links{
  margin-bottom: -5vh;
}

.tags-under-video{
  margin-top: 2vh;
  margin-bottom: 2vh;
}

.listTags{
  list-style-type: none;
  padding-left: 0.5vw;
  padding-right: 0.5vw;
  margin-left: .2vw;
  margin-right: .2vw;
  display: inline;
  transition: all 0.3s ease;
  border-radius: 1vw;
  background-color: var(--active-color, rgb(121, 238, 121));
}

.difficulty-under-video{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.resources-under-video{
  margin-top: 3vh;
  border-top: 0.37vh solid #555;
  border-radius: 10%;
  height: 19vh;
}

.character-resource-label{
  margin-Bottom: "1.4vh";
  font-Size: "1.5vw";
  margin-Top: "1.2vh";
}

.resource-links{
  list-style: none;
  padding: 0; 
  margin: 0; 
  display: block;
  overflow: hidden;
}

.resource-links li {
  display: inline-block;
  padding: 1.7vh 0.7vw 1.7vh 0.7vw;
}

.resource-links a{
  text-decoration: none;
  color: inherit;
  border-radius: 50%;
  font-size: 2vh;
  padding: 0.7vw 0.7vw 0.7vw 0.7vw;
}

.resource-links a:hover{
  color: var(--active-color, rgb(121, 238, 121));
}

.characters-overviews h3{
  margin-bottom: 0;
  text-decoration: underline;
}

button {
  background-color: #555; 
  color: #eee; 
  border: 0.2vh solid #777;
  padding: 1.5vh 3vw; 
  font-size: 1.8vh;
  border-radius: 0.8vh; 
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s, transform 0.2s;
  box-shadow: 0 0.5vh 0.8vh rgba(0, 0, 0, 0.2);
}

button:hover {
  background-color: #666; 
  color: #fff; 
  border-color: #888; 
  transform: scale(1.05); 
}

button:focus {
  outline: none;
  box-shadow: 0 0 0.5vh #aaa;
}

/* Mobile styles */
@media (max-width: 700px) {
  .container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    font-size: 1rem;
    height: 100vh;
    align-items: stretch;
  }

  .left {
    flex: 0 1 30vh;
    width: auto;
    padding: 1rem;
    overflow-y: auto;
    overflow-x: hidden;
  }

  .right{
    flex: 1;
    display: flex;
    border-right: 0.37vh solid #555;
    border-left: 0.37vh solid #555;
    overflow-x: auto;
    overflow-y: hidden;
    position: relative;
  }

  .game-mainpage {
    height: auto;
    width: auto;
    font-size: 1rem;
  }

  .video-content{
    width: auto;
    padding: 1rem;
  }

  .difficulty-under-video{
    font-size: 1rem;
  }

  .character-video {
    width: 100%;
    height: 100%; 
  }

  .characters-information {
    width: auto;
    max-width: 100vw; 
    white-space: normal; 
    overflow-wrap: break-word;
    font-size: 1rem;
    margin-top: 1rem;
  }

  .characters-overviews{
    font-size: 0.7rem;
  }

  .characters-pros{
    margin:0;
  }

  .character-cons li{
    margin-bottom: 0vh;
  }

  .characters-information button {
    margin-top: 1rem;
    align-self: flex-end;
    width: 75vw;
  }

  .characters-list ul {
    padding: 0;
    font-size: 1rem;
  }

  .characters-list li:hover, .characters-list li.active {
    border-radius: 0.5rem;
    font-size: 1.2rem;
  }

  .nameTagContainer {
    min-width: auto;
    max-width: 100%;
    border-radius: 0.5rem;
  }

  .tags-under-video {
    margin: 0.5rem 0.2rem 0.5rem 0.2rem;
    padding-left: 0.5vw;
    padding-right: 0.5vw;
    font-size: 0.7rem;
  }

 .character-resource-label{
    margin-Bottom: 0vh;
    font-Size: 1.2rem;
    margin-Top: 0.5vh;
  }

  .resources-under-video{
    overflow: auto;
  }

  .resources-under-video::-webkit-scrollbar {
    width: 4px;
    height: 4px;
  }
  
  .resources-under-video::-webkit-scrollbar-thumb {
    background: #555;
    border-radius: 6px;
  }

  .resource-links li {
    display: inline-block;
  }

  .resource-links a {
    font-size: 1rem;
  }

  button {
    font-size: 1rem;
    padding: 0.5rem 1rem;
    border-radius: 0.3rem;
  }
}