.container {
  display: flex;
  height: 100%;
  width: 100%;
  gap: 1.481vh;
  overflow: hidden;
}

.column {
  padding: 1.481vh;
  background-color: #2e2e2e;
  color: white;
  border-radius: 0.741vh;
}

/* Left column - 25% width */
.left {
  flex: 1;
  border-right: 0.37vh solid #555;
  border-left: 0.37vh solid #555;
  height: 78vh;
  overflow-y: auto;
  overflow-x: hidden;
  direction: rtl;
  scrollbar-width: thin;
  scrollbar-color: #888 transparent;
}

.left > *{
  direction: ltr;
}

/* Right column - 75% width */
.right {
  flex: 3;
  display: flex;
  border-right: 0.37vh solid #555;
  border-left: 0.37vh solid #555;
  overflow: hidden;
  position: relative;
}

.video-content{
  flex: 1;
  padding-right: 2vw;
  padding-top: 0vh;
}

.characters-information{
  flex: 1;
  padding-left: 2vw;
  padding-right: 2vw;
  text-align: left;
}

.characters-list ul{
  list-style-type: none;
  padding: 0;
  margin-top: -1.481vh;
}

.characters-list li{
  margin: 0;
  transition: all 0.3s ease;
}

.characters-list li:hover{
  background-color: #444;
  font-weight: bold;
  border-radius: 1.481vh;
  cursor: pointer;
}

.characters-list li.active{
  background-color: #555;
  color: var(--active-color, rgb(121, 238, 121));
  font-weight: bold;
  border-radius: 1.481vh;
}

.nameTagContainer {
  display: flex;
  align-items: center;
  justify-content: center; 
  min-width: 11.852vh;
  max-width: 14.815vh;
  height: 11.852vh; 
  border-radius: 1.481vh;
  text-align: center;
}

.nameTag{
  font-weight: 600;
  border-radius: 1.481vh;
  padding: 0.741vh 1.481vh;
  display: flex;
  white-space: nowrap;
}

.video-container{
  border-right: 0.741vh solid #555;
  border-left: 0.741vh solid #555;
  border-top: 0.741vh solid #555;
  border-bottom: 0.741vh solid #555;
  border-radius: 1.481vh;
}

.links{
  margin-bottom: -5vh;
}